In [1]:
import pandas as pd
import numpy as np

In [2]:
# not need for now
#county_to_county_previous_residence_sort = pd.read_excel('./NTDS_Data/county-to-county-2012-2016-previous-residence-sort.xlsx')
#county_to_county_previous_residence_sort.head()

In [3]:
# not need for now
#county_dist_km_matrix_node_id = pd.read_csv("./NTDS_Data/county_dist_km_matrix_node_id.csv")
#county_dist_km_matrix_node_id.rename(columns={'Unnamed: 0': "node_id"}, inplace=True )
#county_dist_km_matrix_node_id.head()

In [4]:
census_and_vote_data = pd.read_csv("./NTDS_Data/census_and_vote_data.csv" )
census_and_vote_data.head()
# flips_code : code postal

,node_id,fips_code,state_code,state,pop_09,pop_12,pop_16,median_age_09,median_age_12,median_age_16,...,median_income_00,white_nonhisp_pct_00,median_age_00,bach_pct_00,median_hou_00,unemp_pct_00,gop_pct_2016,gop_pct_2012,gop_pct_2008,gop_pct_2004
0,1,26041,26,MI,37413.0,37075.0,36570.0,44.4,45.5,46.6,...,35511.0,36791.0,40.4,11.6,77000.0,7.489664,0.601395,0.528199,0.459662,0.503171
1,2,1127,1,AL,68880.0,67016.0,65593.0,40.0,41.5,42.3,...,29076.0,64855.0,38.3,5.4,55600.0,6.445666,0.823358,0.759125,0.723230,0.675679
2,3,37183,37,NC,828759.0,905573.0,998576.0,33.8,34.5,35.6,...,54988.0,439160.0,32.9,29.6,156200.0,3.901301,0.371632,0.435001,0.422845,0.508319
3,4,37147,37,NC,151931.0,167951.0,175150.0,30.5,30.9,31.7,...,32868.0,81613.0,30.4,17.1,82000.0,6.778805,0.443218,0.459242,0.453061,0.532968
4,5,48497,48,TX,57615.0,59351.0,62089.0,37.3,38.5,38.8,...,41933.0,41991.0,35.5,9.2,82300.0,4.241835,0.834275,0.829453,0.773923,0.757676

In [7]:
migflow2015_county_nodeid_dist = pd.read_csv("./NTDS_Data/migflow2015_county_nodeid_dist.csv")
migflow2015_county_nodeid_dist.head()
# ori_county :code postal

,ori_id,des_id,ori_county,des_county,returns,exemptions,AGI,dist_km
0,1366,1758,1051,1001,387,895,17374,46.761904
1,336,1758,1101,1001,352,741,13267,53.795844
2,641,1758,1021,1001,68,147,2111,35.517244
3,1114,1758,1047,1001,57,132,2253,49.334907
4,636,1758,1073,1001,45,81,1974,115.791496

In [8]:
naics2016 = pd.read_csv("./NTDS_Data/naics2016.csv")
naics2016.head()

,area_fips,11,21,22,23,31-33,42,44-45,48-49,51,...,53,54,55,56,61,62,71,72,81,92
0,1001,124,78,106,458,1478,209,1699,178,35,...,116,209,0,0,156,996,278,1428,225,793
1,1003,707,87,294,3634,4100,1630,13757,1744,323,...,1929,1897,305,2941,1321,8539,1234,13333,1931,3791
2,1005,181,161,52,146,2229,0,922,523,25,...,42,7,0,138,471,7,29,641,160,883
3,1007,0,0,0,740,355,112,494,36,0,...,23,54,0,0,0,0,11,241,0,442
4,1009,0,0,83,456,1215,369,1138,62,66,...,30,193,18,266,1022,0,108,667,301,618

In [14]:
nc16_cos = pd.read_csv("./NTDS_Data/nc16_cos.csv")
nc16_cos.rename(columns={'Unnamed: 0': "node_id"}, inplace=True )
nc16_cos.head()

,node_id,1,2,3,4,5,6,7,8,9,...,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838
0,1,1.000000,0.899638,0.785052,0.929875,0.901327,0.797833,0.848099,0.846521,0.856088,...,0.916024,0.792731,0.920726,0.851874,0.828982,0.720426,0.848634,0.917331,0.877962,0.882647
1,2,0.899638,1.000000,0.829891,0.926967,0.870453,0.682372,0.905265,0.769632,0.963230,...,0.881140,0.672749,0.970555,0.788246,0.955963,0.638630,0.887651,0.899838,0.951564,0.854448
2,3,0.785052,0.829891,1.000000,0.898250,0.796015,0.526999,0.903918,0.797445,0.878696,...,0.826197,0.698531,0.899498,0.824790,0.828124,0.537424,0.890438,0.746328,0.769177,0.681257
3,4,0.929875,0.926967,0.898250,1.000000,0.898518,0.708119,0.896238,0.868717,0.913787,...,0.955489,0.744981,0.949344,0.874862,0.858898,0.636175,0.895308,0.865843,0.854587,0.805602
4,5,0.901327,0.870453,0.796015,0.898518,1.000000,0.689372,0.838991,0.829712,0.837732,...,0.878725,0.725123,0.870128,0.836328,0.795960,0.626196,0.830684,0.848537,0.816726,0.794571